@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: whitesmoke;
}

@font-face {
  font-family: "gsans-bold";
  src: url('./fonts/GoogleSans-Bold.ttf');
}
@font-face {
  font-family: "gsans-regular";
  src: url('./fonts/GoogleSans-Regular.ttf');
}
@font-face {
  font-family: "gsans-medium";
  src: url('./fonts/GoogleSans-Medium.ttf');
}

